{% extends "header.html" %}
{% block body %}
<form action="/manage/do_add" method="POST" id="reviewer_add">
    First Name:<input type="text" name="first_name"><br>
    Last Name:<input type="text" name="last_name"><br>
    <div style="vertical-align: top">Languages:</div><select name="languages" multiple style="height: 200px">
        {% for language in languages %}
        <option value="{{ language.id }}">{{ language.name }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Add User">
</form>
{% endblock %}
